@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  
  --color-primary-50: #fdfaf0;
  --color-primary-100: #fbf2d4;
  --color-primary-300: #e9c349;
  --color-primary-500: #f27918; /* Dourado para ícones e destaques */
  --color-primary-600: #000000; /* Castanho para botões principais */
  --color-primary-700: #331916; /* Hover dos botões */
  
  --color-neutral-50: #ffffff;  /* Fundo da aplicação */
  --color-neutral-100: #F5F2EC; /* Fundo secundário / Cartões */
  --color-neutral-200: #E8E2D9;
  --color-neutral-300: #D8CFCA; /* Bordas suaves */
  --color-neutral-600: #8C7A78; /* Texto secundário */
  --color-neutral-900: #000000; /* Títulos e Texto Principal */
  
  --color-status-success: #10b981;
  --color-status-warning: #f59e0b;
  --color-status-danger: #ef4444;
}

:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-900);
}

body {
  color: var(--foreground);
  background: var(--background);
}
